/.idea/inspectionProfiles/Project_Default.xml
/.idea/runConfigurations/OCD_menu.xml
/.idea/menu.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/workspace.xml
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-93e8010cea5a5d642bb7.json
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-71a0c98e0caf2b2b4b97.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-c34015f86c8892e55ade.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/cmake-build-debug/.cmake/api/v1/reply/index-2023-12-27T01-40-48-0566.json
/cmake-build-debug/.cmake/api/v1/reply/target-menu.elf-Debug-473f87a2147ac73df4a8.json
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-dde2e36655d49bf7cb9e.json
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.o
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCXX/CMakeCXXCompilerId.o
/cmake-build-debug/CMakeFiles/3.26.4/CMakeASMCompiler.cmake
/cmake-build-debug/CMakeFiles/3.26.4/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.26.4/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/CMakeFiles/3.26.4/CMakeSystem.cmake
/cmake-build-debug/CMakeFiles/menu.elf.dir/build.make
/cmake-build-debug/CMakeFiles/menu.elf.dir/cmake_clean.cmake
/cmake-build-debug/CMakeFiles/menu.elf.dir/compiler_depend.make
/cmake-build-debug/CMakeFiles/menu.elf.dir/compiler_depend.ts
/cmake-build-debug/CMakeFiles/menu.elf.dir/depend.make
/cmake-build-debug/CMakeFiles/menu.elf.dir/DependInfo.cmake
/cmake-build-debug/CMakeFiles/menu.elf.dir/flags.make
/cmake-build-debug/CMakeFiles/menu.elf.dir/link.txt
/cmake-build-debug/CMakeFiles/menu.elf.dir/progress.make
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
/cmake-build-debug/CMakeFiles/Makefile.cmake
/cmake-build-debug/CMakeFiles/Makefile2
/cmake-build-debug/CMakeFiles/progress.marks
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/Makefile
/cmake-build-debug/menu.bin
/cmake-build-debug/menu.cbp
/cmake-build-debug/menu.elf
/cmake-build-debug/menu.hex
/cmake-build-debug/menu.map
